.inviteModalContainer {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 200, 126, 0.149);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inviteModal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    margin-bottom: auto;
  }
  
  .inviteModal .btn {
    display: block;
    margin: auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
  }
  
  .form-group label {
    margin-bottom: 0.2rem;
  }
  
  .error {
    background-color: #f8d7da;
    color: #df4759;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  