
a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dd-button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;    
    padding: 5px 15px 5px 15px;
    border-radius: 0.5rem;
border: 1px solid var(--green-light-500, #66C61C);
background: #008440;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    color: var(--base-white, #FFF);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
  }

  

  .dd-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 5px 15px 5px 15px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
    
  .dd-button:hover {
    background-color: #eeeeee;
  }
  
  .dashdropdown{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }